body {
  font-family: 'DM Sans', sans-serif;
  background-color: #1E1E1E;
  background-image: 
    radial-gradient(circle at top left, #1d1d54, transparent),
    radial-gradient(circle at top right, #3f3faa, transparent),
    radial-gradient(circle at bottom left, #3131a3, transparent),
    radial-gradient(circle at bottom right, #1e1e1e, transparent);
  background-blend-mode: screen;
}

/* tampilan background */
#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit:fill;
  z-index: -1;
  opacity: 0.2;
}

/* container */
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position:relative;
  min-height: 100vh;
  padding: 20px;
  z-index: 2;
}

.group-container {
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 50px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  max-height: fit-content;
  width: 100%;
  height: 100%;
  text-align: center;
  backdrop-filter: blur(10px);
  opacity: 0.8;
}

.logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}

.container {
  margin-top: 20px;
}

.input-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px;
}

.output-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px;
  z-index: 1;
}
/* Logo */
.logo-container img {
  margin-right: 10px;
  width: 150px;
  height: auto;
}

.group-container .logo {
  top: 10px;
  left: 10px;
  width: 40px;
  height: 40px;
}

.zearch {
  font-family: 'DM Serif Display', serif;
  font-size: 3rem;
  font-weight: bold;
  color: #222330;
}

/* Input */
.input-box {
  display: flex;
  flex-direction: column;
  width: 80%;
}

input, select, button, option {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  border: 3px solid #292a38;  
  color: #222330;
  height: 35px;
  padding: 4px;
}

input, select {
  margin-top: 2px;
}

select:hover {
  cursor: pointer;
  background-color: #292a38;
  color: rgba(255, 255, 255);;
}

option:hover {
  cursor: pointer;
  background-color: #a399ed;
  color: rgba(255, 255, 255);;
}

label {
  display: flex;
  flex-direction: column;
}

.input-box p, label {
  font-size: 18px;
}

button {
  width: 80%;
  margin-top: 10px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #292a38;
  color: rgb(255, 255, 255);;
}

/* Output */
.output-information {
  margin: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

hr {
  margin-top: 4px;
  width: 80%;
  border: 2px solid black;
}

.information-title {
  margin-bottom: 8px;
}

.information-desc {
  text-align: justify;
  text-justify: inter-word;
  margin-bottom: 15px;
}

.card {
  width: 80%;
  max-height: 350px;
  height: 350px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card img {
  width: 100%;
  margin-top: 6px;
}

.card iframe {
  max-height: 315px;
  height: 100%;
  width: 100%;
  margin-top: 6px;
}

.hide {
  display: none;
}

/* Responsiveness */
@media (max-width: 768px) {
  .zearch {
    font-size: 2rem;
  }
  
}
